:root {
	--x 150px
	--y 150px
}

@keyframes tile {
	
	from {
		transform translate(var(--x), -50px)
	}
	
	to {
		transform translate(var(--x), var(--y))
	}
}

@keyframes top-tile {
	from {
		transform translate(-50px, -50px)
	}
	
	to {
		transform translate(var(--x2), var(--y2))
	}
}

.animate .use-left__item {
	--duration 1s
	--delay 0s
	animation tile var(--duration) var(--delay) forwards 	
		
}



// ult 
// transform translateY(0)


// ul62 
// transform translate(283px,125px)

// ul61 
// transform translate(265px,128px)

// ul60
// transform translate(247px,131px)

// ul59 
// transform translate(229px,134px)

// ul58 
// transform translate(211px,137px)

// ul57 
// transform translate(193px,140px)

// ul56 
// transform translate(175px,143px)

// ul55 
// transform translate(157px,146px)

// ul54 
// transform translate(139px,149px)

// ul53 
// transform translate(121px,152px)

// ul52 
// transform translate(103px,155px)

// ul51 
// transform translate(275.5px,143px)


// ul50 
// transform translate(257.5px,146px)


// ul49 
// transform translate(239.5px,149px)


// ul48 
// transform translate(221.5px,152px)


// ul47 
// transform translate(203.5px,155px)


// ul46 
// transform translate(185.5px,158px)


// ul45 
// transform translate(167.5px,161px)


// ul44 
// transform translate(149.5px,164px)


// ul43 
// transform translate(131.5px,167px)


// ul42 
// transform translate(113.5px,170px)


// ul41 
// transform translate(284px,155px)


// ul40 
// transform translate(266px,158px)


// ul39 
// transform translate(248px,161px)


// ul38 
// transform translate(230px,164px)


// ul37 
// transform translate(212px,167px)


// ul36 
// transform translate(196px,170px)


// ul35 
// transform translate(176px,173px)


// ul34 
// transform translate(158px,176px)


// ul33 
// transform translate(140px,179px)


// ul32 
// transform translate(122px,182px)


// ul31 
// transform translate(104px,185px)
// // 
// ul30 
// transform translate(275.5px,173px)

// ul29 
// transform translate(257.5px,176px)

// ul28 
// transform translate(131.5px,197px)

// ul27 
// transform translate(113.5px,200px)

// // 
// ul26 
// transform translate(284px,185px)

// ul25 
// transform translate(266px,188px)

// ul24 
// transform translate(248px,191px)

// ul23 
// transform translate(140px,209px)

// ul22 
// transform translate(122px,212px)

// ul21 
// transform translate(104px,215px)


// ul20 
// transform translate(113.5px,230px)

// ul19 
// transform translate(131.5px,227px)

// ul18 
// transform translate(257.5px,206px)

// ul17 
// transform translate(275.5px,203px)


// ul16 
// transform translate(284px,215px)

// ul15 
// transform translate(266px,218px)


// ul14 
// transform translate(248px,221px)


// ul13 
// transform translate(140px,239px)


// ul12 
// transform translate(122px,242px)


// ul11 
// transform translate(104px,245px)



// ul10 
// transform translate(275.5px,233px)


// ul9 
// transform translate(257.5px,236px)


// ul8 
// transform translate(131.5px,257px)


// ul7 
// transform translate(113.5px,260px)


// ul6 
// transform translate(284px,245px)


// ul5 
// transform translate(266px, 248px)

// ul4 
// transform translate(248px, 251px)

// ul3 
// transform translate(122px, 273px)


// ul2 
// transform translate(140px, 269px)


// ul1 
// transform translate(131.5px, 287px)