.s-overview-360
	.container: .s-overview-360__container
		h2.s-overview-360__title.title-2 Обзор 360°
		iframe.s-overview-360__frame(allowfullscreen webkitallowfullscreen width="640" height="480" frameborder="0" seamless src="https://p3d.in/e/K3iCp+load+shading,dl,help,share,fs,spin,link,border-hidden")
		ul.s-overview-360__pagination.overview-360-pagination
			li.overview-360-pagination__item(style="color: #8b4f38;" data-code="HwfvH")
				img.overview-360-pagination__icon(src="images/360/1.png", alt="" width="57" height="57")
			li.overview-360-pagination__item(style="color: #605755;" data-code="9uJtR")
				img.overview-360-pagination__icon(src="images/360/2.png", alt="" width="57" height="57" data-code="FDpCa")
			li.overview-360-pagination__item(style="color: #4c3128;" data-code="FDpCa")
				img.overview-360-pagination__icon(src="images/360/3.png", alt="" width="57" height="57")
			li.overview-360-pagination__item(style="color: #6c6a66;" data-code="2wZoP")
				img.overview-360-pagination__icon(src="images/360/4.png", alt="" width="57" height="57")
			li.overview-360-pagination__item.overview-360-pagination__item_active(style="color: #131314;" data-code="K3iCp")
				img.overview-360-pagination__icon(src="images/360/5.png", alt="" width="57" height="57")