.s-about
	.container
		h2.title-2.s-about__title О нас

		.s-about__grid
			.s-about__column.s-about__column_big
				.c-about-text
					h4.c-about-text__label Мы разрабатываем
					ul.c-about-text__list
						li.c-about-text__item дизайн
					h4.c-about-text__label Осуществляем
					ul.c-about-text__list
						li.c-about-text__item раскрой
						li.c-about-text__item расчёт материала
					h4.c-about-text__label Мы производим
					ul.c-about-text__list
						li.c-about-text__item доборные элементы
			.s-about__column.s-about__column_small: .s-about__subgrid
				.s-about__cell
					.c-about
						header.c-about__header
							img.c-about__icon(src="images/about/1.png" width="92" height="92")
							
						.c-about__title Быстрый и простой монтаж
				.s-about__cell
					.c-about
						header.c-about__header
							img.c-about__icon(src="images/about/2.png" width="120" height="76")
						.c-about__title Быстрая доставка
				.s-about__cell
					.c-about
						header.c-about__header
							img.c-about__icon(src="images/about/3.png" width="90" height="96")
							.c-about__label 300х300х300 мм
						.c-about__title Удобная упаковка
				.s-about__cell
					.c-about
						header.c-about__header
							img.c-about__icon(src="images/about/4.png" width="76" height="80")
						.c-about__title Всегда в наличии на складе