.s-architectural-pattern
	.container
		h2.title-2.s-architectural-pattern__title Архитектурный узор
		.s-architectural-pattern__grid
			.s-architectural-pattern__cell.s-architectural-pattern__cell_pr
				img.s-architectural-pattern__pr(src="images/architectural-pattern.png", alt="", width="739" height="668")
			.s-architectural-pattern__cell.s-architectural-pattern__cell_text
				h3.title-3.s-architectural-pattern__title-3 Расширенные возможности черепицы с узором 
				.s-architectural-pattern__text
					ul.s-architectural-pattern__ul
						li.s-architectural-pattern__item Узор на черепице дает дополнительные ребра жесткости, поэтому такая черепица  становится еще более надежной в использовании
						li.s-architectural-pattern__item Дополнительное украшение зданию
					p.s-architectural-pattern__p * Архитектурная черепица "Волна" изготавливается на специальных условиях. Детали и стоимость производства черепицы "Волна" уточняйте по электронной почте. 
