.s-composition
	.container
		.s-composition__grid
			.s-composition__column.s-composition__column_main
				h2.s-composition__title.title-2 Состав материала
				include composition-pr

			.s-composition__column.s-composition__column_desc
				.s-composition__desc Верхний слой отвечает за красоту Вашей кровли, определяет цвет и текстуру готового изделия. От качества полимерного покрытия напрямую зависит сохранность декоративных и защитных свойств при воздействии различных факторов окружающей среды (солнечный свет, дождь, град, ветер).

