.s-developing
	.container: .s-developing__container
		h2.s-developing__title.title-2 В разработке 
			br
			| черепица с покрытием 
			br
			| солнечная батарея
		iframe.s-developing__frame.lazy.spinner(allowfullscreen webkitallowfullscreen width="640" height="480" frameborder="0" seamless data-src="https://p3d.in/e/4Sbt9+bg-none+load+shading,dl,help,share,fs,spin,link,border-hidden")