.s-features#s-features
	.container
		h2.title-2.s-features__title Особенности
		.s-features__grid
			.s-features__cell
				.c-feature-dark
					img.c-feature-dark__image(src="images/features/feature.png" alt="" width="446" height="204")
			.s-features__cell
				.c-feature
					header.c-feature__header: img.c-feature__icon(src="images/features/1.png" alt="" width="82" height="78")
					.c-feature__title Покрытие
					.c-feature__desc Кровельный материал 
						br
						| с уникальным текстурированным
						br
						| покрытием
			.s-features__cell
				.c-feature
					header.c-feature__header: img.c-feature__icon(src="images/features/2.png" alt="" width="73" height="63")
					.c-feature__title Толщина
					.c-feature__desc Гарантированная толщина
						br
						| металлопроката 0,5 мм
			.s-features__cell
				.c-feature
					header.c-feature__header: img.c-feature__icon(src="images/features/3.png" alt="" width="61" height="71")
					.c-feature__title Уникальный замок
					.c-feature__desc Уникальная замковая система
						br
						| со 100% гарантией от протечек
			.s-features__cell
				.c-feature
					header.c-feature__header: img.c-feature__icon(src="images/features/4.png" alt="" width="62" height="72")
					.c-feature__title Гарантия
					.c-feature__desc Кровельный материал с гарантией
						br
						| от сквозной коррозии 25 лет
			.s-features__cell
				.c-feature
					header.c-feature__header: img.c-feature__icon(src="images/features/5.png" alt="" width="76" height="55")
					.c-feature__title Шумопоглощение
					.c-feature__desc На тыльной стороне черепицы 
						br
						| предусмотрен шумопоглащающий слой
			.s-features__cell
				.c-feature
					header.c-feature__header: img.c-feature__icon(src="images/features/6.png" alt="" width="34" height="64")
					.c-feature__title Температурный режим
					.c-feature__desc Покрытие успешно прошло
						br
						| испытания в камере холода при 
						br
						| температурах -30°C и -60°C
			.s-features__cell
				.c-feature
					header.c-feature__header: img.c-feature__icon(src="images/features/7.png" alt="" width="62" height="52")
					.c-feature__title 3D рельеф
					.c-feature__desc Черепица имеет ярко
						br
						| выраженный 3D  рельеф
			.s-features__cell
				.c-feature
					header.c-feature__header: img.c-feature__icon(src="images/features/8.png" alt="" width="67" height="67")
					.c-feature__title По ГОСТу 
					.c-feature__desc Полностью соответствует ГОСТ №52146-03 и
						br
						| ГОСТ №9045-93 на металлочерепицу