svg.s-use__pr.use-left(version="1.1"
  viewBox="0 0 513 513"
  width="513" height="513"
  baseProfile="full"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:ev="http://www.w3.org/2001/xml-events")
	
	defs
		symbol(id="tile" viewBox="0 0 20 30")
			image(width="20" height="30" xlink:href="images/use/tile.png")

		symbol(id="bg" viewBox="0 0 513 513")
			image(width="513" height="513" xlink:href="images/use/1.jpg")

		clipPath(id="clip")
			path(d="M 119 152 119 278 125 273 144 320 151 319 151 195 257 178 258 278 295 247 295 116 295 0 119 0" fill="black")

		clipPath(id="clip-2")
			path(d="M 119 152 119 278 125 273 144 320 151 319 151 195 257 178 258 278 295 247 295 116" fill="black")

	image(width="513" height="513" xlink:href="images/use/1.jpg")
	g.wow
		g(clip-path="url(#clip)")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 0s; --x:131.5px; --y: 287px")

			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 1s; --x: 122px; --y: 273px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 2s; --x: 140px; --y: 269px")

			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 3s; --x: 248px; --y: 251px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 4s; --x: 266px; --y: 248px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 5s; --x: 284px; --y: 245px")


			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 6s; --x: 113.5px; --y: 260px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 7s; --x: 131.5px; --y: 257px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 8s; --x: 257.5px; --y: 236px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 9s; --x: 275.5px; --y: 233px")


			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 10s; --x: 104px; --y: 245px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 11s; --x: 122px; --y: 242px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 12s; --x: 140px; --y: 239px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 13s; --x: 248px; --y: 221px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 14s; --x: 266px; --y: 218px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 15s; --x: 284px; --y: 215px")
			//- +16

			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 16s; --x: 113.5px; --y: 230px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 17s; --x: 131.5px; --y: 227px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 18s; --x: 257.5px; --y: 206px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 19s; --x: 275.5px; --y: 203px")

			//- +20


			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 20s; --x: 104px; --y: 215px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 21s; --x: 122px; --y: 212px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 22s; --x: 140px; --y: 209px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 23s; --x: 248px; --y: 191px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 24s; --x: 266px; --y: 188px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 25s; --x: 284px; --y: 185px")
			
			//- +26

			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 26s; --x: 113.5px; --y: 200px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 27s; --x: 131.5px; --y: 197px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 28s; --x: 257.5px; --y: 176px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 29s; --x: 275.5px; --y: 173px")

			//- +30

			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 30s; --x: 104px; --y: 185px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 31s; --x: 122px; --y: 182px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 32s; --x: 140px; --y: 179px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 33s; --x: 158px; --y: 176px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 34s; --x: 176px; --y: 173px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 35s; --x: 196px; --y: 170px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 36s; --x: 212px; --y: 167px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 37s; --x: 230px; --y: 164px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 38s; --x: 248px; --y: 161px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 39s; --x: 266px; --y: 158px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 40s; --x: 284px; --y: 155px")

			//- +41

			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 41s; --x: 113.5px; --y: 170px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 42s; --x: 131.5px; --y: 167px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 43s; --x: 149.5px; --y: 164px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 44s; --x: 167.5px; --y: 161px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 45s; --x: 185.5px; --y: 158px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 46s; --x: 203.5px; --y: 155px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 47s; --x: 221.5px; --y: 152px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 48s; --x: 239.5px; --y: 149px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 49s; --x: 257.5px; --y: 146px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 50s; --x: 275.5px; --y: 143px")

			//- +51

			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 51s; --x: 103px; --y: 155px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 52s; --x: 121px; --y: 152px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 53s; --x: 139px; --y: 149px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 54s; --x: 157px; --y: 146px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 55s; --x: 175px; --y: 143px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 56s; --x: 193px; --y: 140px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 57s; --x: 211px; --y: 137px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 58s; --x: 229px; --y: 134px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 59s; --x: 247px; --y: 131px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 60s; --x: 265px; --y: 128px")
			use.use-left__item(href="#tile" width="20" height="30" style="--delay: 61s; --x: 283px; --y: 125px")
		
		g.use-left__item(style="--delay: 62s; --x: 111px; --y: 137px")
			g(clip-path="url(#clip-2)" transform="translate(-111, -137)")
				use(href="#tile" width="20" height="30" transform="translate(111, 137)")
		
		g.use-left__item(style="--delay: 63s; --x:129px; --y:134px")
			g(clip-path="url(#clip-2)" transform="translate(-129, -134)")
				use(href="#tile" width="20" height="30" transform="translate(129, 134)")
	 
		g.use-left__item(style="--delay: 64s; --x: 147px; --y: 131px")
			g(clip-path="url(#clip-2)" transform="translate(-147, -131)")
				use(href="#tile" width="20" height="30" transform="translate(147, 131)")

		g.use-left__item(style="--delay: 65s; --x: 165px; --y: 128px")
			g(clip-path="url(#clip-2)" transform="translate(-165, -128)")
				use(href="#tile" width="20" height="30" transform="translate(165, 128)")
		g.use-left__item(style="--delay: 66s; --x: 183px; --y: 125px")
			g(clip-path="url(#clip-2)" transform="translate(-183, -125)")
				use(href="#tile" width="20" height="30" transform="translate(183, 125)")

		g.use-left__item(style="--delay: 67s; --x: 201px; --y: 122px")
			g(clip-path="url(#clip-2)" transform="translate(-201, -122)")
				use(href="#tile" width="20" height="30" transform="translate(201, 122)")

		g.use-left__item(style="--delay: 68s; --x: 219px; --y: 119px")
			g(clip-path="url(#clip-2)" transform="translate(-219, -119)")
				use(href="#tile" width="20" height="30" transform="translate(219, 119)")
		g.use-left__item(style="--delay: 69s; --x: 237px; --y: 116px")
			g(clip-path="url(#clip-2)" transform="translate(-237, -116)")
				use(href="#tile" width="20" height="30" transform="translate(237, 116)")
		g.use-left__item(style="--delay: 70s; --x: 255px; --y: 113px")
			g(clip-path="url(#clip-2)" transform="translate(-255, -113)")
				use(href="#tile" width="20" height="30" transform="translate(255, 113)")
		g.use-left__item(style="--delay: 71s; --x: 273px; --y: 110px")
			g(clip-path="url(#clip-2)" transform="translate(-273, -110)")
				use(href="#tile" width="20" height="30" transform="translate(273, 110)")