svg.s-use__pr.use-right.wow(version="1.1"
  viewBox="0 0 513 513"
  width="513" height="513"
  baseProfile="full"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  xmlns:ev="http://www.w3.org/2001/xml-events")
	
	defs
		symbol(id="pile" viewBox="0 0 56 41")
			image(width="56" height="41" xlink:href="images/use/pile.png")

		symbol(id="bgRight" viewBox="0 0 513 513")
			image(width="513" height="513" xlink:href="images/use/2.jpg")

		clipPath(id="clip-3")
			path(d="M 0 0 376 44 513 27 513 142 375 267 0 279 Z" fill="black")

		clipPath(id="clip-4")
			path(d="M 376 44 513 27 513 142 375 267 -6 279 Z" fill="black")
			

	use(href="#bgRight")
	
	//- g(clip-path="url(#clip)")

	//- path(d="M 0 0 378 44 513 27 513 142 375 267 0 279" fill="black")
	//- path(d="M 378 44 513 27 513 142 375 267 0 279" fill="black")
	g.wow(clip-path="url(#clip-3)")
		rect(width="513" height="513" fill="transparent" x="0" y="0")
		use.use-right__item(href="#pile" width="56" height="41" style="--x: -18px; --y: 254px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 1s; --x: 35px; --y: 257px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 2s; --x: 88px; --y: 260px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 3s; --x: 140px; --y: 263px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 4s; --x: 194px; --y: 266px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 5s; --x: 11px; --y: 237px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 6s; --x: 64px; --y: 240px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 7s; --x: 117px; --y: 243px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 8s; --x: 170px; --y: 246px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 9s; --x: 223px; --y: 249px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 10s; --x: 276px; --y: 252px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 11s; --x: 329px; --y: 255px")
 
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 12s; --x: 42px; --y: 219px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 13s; --x: 95px; --y: 222px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 14s; --x: 148px; --y: 225px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 15s; --x: 201px; --y: 228px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 16s; --x: 254px; --y: 231px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 17s; --x: 307px; --y: 234px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 18s; --x: 360px; --y: 237px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 19s; --x: 71px; --y: 202px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 20s; --x: 124px; --y: 205px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 21s; --x: 177px; --y: 208px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 22s; --x: 230px; --y: 211px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 23s; --x: 283px; --y: 214px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 24s; --x: 336px; --y: 217px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 25s; --x: 388px; --y: 220px")
 
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 26s; --x: 102px; --y: 184px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 27s; --x: 155px; --y: 187px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 28s; --x: 208px; --y: 190px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 29s; --x: 261px; --y: 193px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 30s; --x: 314px; --y: 196px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 31s; --x: 367px; --y: 199px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 32s; --x: 131px; --y: 167px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 33s; --x: 184px; --y: 170px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 34s; --x: 237px; --y: 173px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 35s; --x: 290px; --y: 176px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 36s; --x: 343px; --y: 179px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 37s; --x: 395px; --y: 182px")
 
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 38s; --x: 162px; --y: 149px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 39s; --x: 215px; --y: 152px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 40s; --x: 268px; --y: 155px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 41s; --x: 321px; --y: 158px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 42s; --x: 374px; --y: 161px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 43s; --x: 427px; --y: 164px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 44s; --x: 191px; --y: 132px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 45s; --x: 244px; --y: 135px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 46s; --x: 297px; --y: 138px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 47s; --x: 350px; --y: 141px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 48s; --x: 402px; --y: 144px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 49s; --x: 455px; --y: 147px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 50s; --x: 222px; --y: 114px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 51s; --x: 275px; --y: 117px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 52s; --x: 328px; --y: 120px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 53s; --x: 381px; --y: 123px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 54s; --x: 434px; --y: 126px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 55s; --x: 487px; --y: 129px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 56s; --x: 251px; --y: 97px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 57s; --x: 304px; --y: 100px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 58s; --x: 357px; --y: 103px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 59s; --x: 409px; --y: 106px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 60s; --x: 462px; --y: 109px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 61s; --x: 282px; --y: 79px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 62s; --x: 335px; --y: 82px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 63s; --x: 388px; --y: 85px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 64s; --x: 441px; --y: 88px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 65s; --x: 494px; --y: 91px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 66s; --x: 311px; --y: 62px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 67s; --x: 364px; --y: 65px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 68s; --x: 416px; --y: 68px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 69s; --x: 469px; --y: 71px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 70s; --x: 342px; --y: 44px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 71s; --x: 395px; --y: 47px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 72s; --x: 448px; --y: 50px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 73s; --x: 501px; --y: 53px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 74s; --x: 371px; --y: 27px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 75s; --x: 423px; --y: 30px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 76s; --x: 476px; --y: 33px")

		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 77s; --x: 402px; --y: 9px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 78s; --x: 455px; --y: 12px")
		use.use-right__item(href="#pile" width="56" height="41" style="--delay: 79s; --x: 508px; --y: 14px")
