.s-use
	.container
		h2.title-2.s-use__title Применение
		.s-use__grid
			.s-use__cell
				include left.pug
				//- .s-use__pr(src="images/use/1.jpg", alt="" width="513" height="513")
			.s-use__cell
				include right.pug


