.s-use
	.container
		h2.title-2.s-use__title Применение
		.s-use__grid
			.s-use__cell
				.square
					object.square__pr.wow(type="image/svg+xml" data="left.svg" width="513" height="513")
				//- include left.pug
			.s-use__cell
				.square
					object.square__pr.wow(type="image/svg+xml" data="right.svg" width="513" height="513")
				//- include right.pug


